<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sabji_lelo.com</title>
</head>
<body>
  <header>
    <a href="{{url_for('user_login', ms = 'Register here if you are a new user')}}" style="font-size: 20px;">Registration</a> |
    <a href="{{url_for('login', msg = 'Login below if you have registered already')}}" style="font-size: 20px;">UserLogin</a> |
    <a href="{{url_for('admin_login')}}" style="font-size: 20px;">AdminLogin</a>
  
  </header>
  <center>
  <h1 style=" font-size: 200px; border: 5px; color: rgb(13, 113, 17);">Sabji_lelo.com</h1>
  </center>
</body>
</html>

